fund=false
save-exact=true

registry=https://registry.npmjs.org/
@bphxd:registry=https://pkgs.dev.azure.com/bp-digital/DevOps-SRE/_packaging/bphxd/npm/registry/ 

//pkgs.dev.azure.com/bp-digital/DevOps-SRE/_packaging/bphxd/npm/registry/:username=bp-digital
//pkgs.dev.azure.com/bp-digital/DevOps-SRE/_packaging/bphxd/npm/registry/:_password=${B64_PERSONAL_ACCESS_TOKEN}
//pkgs.dev.azure.com/bp-digital/DevOps-SRE/_packaging/bphxd/npm/registry/:email=e2eotto@bp.com
//pkgs.dev.azure.com/bp-digital/DevOps-SRE/_packaging/bphxd/npm/:username=bp-digital
//pkgs.dev.azure.com/bp-digital/DevOps-SRE/_packaging/bphxd/npm/:_password=${B64_PERSONAL_ACCESS_TOKEN}
//pkgs.dev.azure.com/bp-digital/DevOps-SRE/_packaging/bphxd/npm/:email=e2eotto@bp.com
                        
always-auth=true

